*, *::before, *::after
{
    box-sizing: border-box;
}

*
{
    animation-play-state: inherit;
}

html,
body
{
    height: 100%;
    width: 100%;
}

body
{
    margin: 0;
    overflow: hidden;
    font-family: Nunito, sans-serif;
    background: #000;
}

.absolute
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.background
{
    background: linear-gradient(258deg, #473B7B, #3584A7, #30D2BE);
    background-size: 600% 600%;

    animation: bg-move 60s ease infinite;
    animation-play-state: running;
}

.cover
{
    overflow: hidden;
    position: relative;
}

.cover img
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 100%;
    object-fit: cover;
}

@keyframes bg-move
{
    0%  { background-position: 34% 0 }
    50% { background-position: 67% 100% }
    100%{ background-position: 34% 0 }
}

[role="button"]
{
    cursor: pointer;
}