:root
{
    --background-opacity: 1;
}

*, *::before, *::after
{
    box-sizing: border-box;
}

*
{
    animation-play-state: inherit;
}

html,
body
{
    height: 100%;
    width: 100%;
}

body
{
    margin: 0;
    overflow: hidden;
    font-family: Nunito, sans-serif;
    background: #000;
}

.absolute
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@property --bg-angle
{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: true;
}

.background
{
    --bg-angle: 15deg;

    background: linear-gradient(var(--bg-angle), #32988a, #32a6ff, #3f6fff, #8d54ff, #000e3c);
    background-size: 500%;
    color: #fff;

    animation: bg-move 30s ease-in-out infinite alternate;
    animation-play-state: running;
}

.scrollable
{
    overflow: auto;
}

.cover
{
    overflow: hidden;
    position: relative;
}

.cover img
{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 100%;
    object-fit: cover;
}

@keyframes bg-move
{
    to
    {
        background-position-x: 100%;
        --bg-angle: 170deg;
    }
}

[role="button"]
{
    cursor: pointer;
}

.material-icons
{
    user-select: none;
}